$dark-cyan-color: #009688;
$global-primary-color: $dark-cyan-color;

.NotesList {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.NotesListItem {
	width: 45%;
	height: 220px;
	margin: 20px 2%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
	font-size: 14px;
}

.NoteBody {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.NoteToolbar {
	background: 0;
}

.NoteDeleteButton {
	color: $global-primary-color;
}
