$dimgray-color: #696969;
$dark-cyan-color: #009688;
$global-primary-color: $dark-cyan-color;

.NavigationMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	align-items: stretch;
}

.NavigationMenu a.active {
	color: $global-primary-color;
}

.NavigationMenuItem {
	max-width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-decoration: none;
	color: $dimgray-color;
	font-size: 12px;
}
