$dimgray-color: #696969;
$dark-cyan-color: #009688;
$global-primary-color: $dark-cyan-color;

.NavigationMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	align-items: stretch;
	background: lighten($global-primary-color, 70%);
	border-right: 1px solid $dimgray-color;
}

.NavigationMenuItem {
	max-width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-decoration: none;
	color: $dimgray-color;
	font-size: 12px;

	&.active,
	&:active,
	&:focus,
	&:hover {
		color: $global-primary-color;
	}
}

.NavigationMenuItem.active {
	color: $global-primary-color;
}
